# n2n - Starts the n2n edge program that connects to the network
#
# This happens automatically when the network device is up.

description "connect using n2n"

start on (local-filesystems and (net-device-up IFACE=eth0 or net-device-up IFACE=wlan0 or net-device-up IFACE=p3p1))

exec edge -d edge0 -a {{ ip }} -b -c {{ n2n.community }} -k {{ n2n.password }} -l {{ n2n.supernode.host }}:{{ n2n.supernode.port }}

respawn
