[Unit]
Description=n2n node
Documentation=man:edge(1)

[Service]
Type=simple
ExecStart=/usr/sbin/edge -d edge0 -a {{ ip }} -b -c {{ n2n.community }} -k {{ n2n.password }} -l {{ n2n.supernode.host }}:{{ n2n.supernode.port }}

[Install]
WantedBy=multi-user.target
